<html>
    <head>
        <title>World Clock</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <link rel="shortcut icon" href="https://cdn.glitch.com/0a00c8f5-7882-413c-8686-552d6503c4e1%2Ficon_rpC_icon.ico?v=1578856057001" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <script></script>
        <style></style>
        <a href="/about">About/This/Site</a>
    </body>
</html>