<!-- clock.html -->

<html>
    <head>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <link rel="shortcut icon" href="https://cdn.glitch.com/0a00c8f5-7882-413c-8686-552d6503c4e1%2Ficon_rpC_icon.ico?v=1578856057001" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <style>
            
        </style>
        <div class="center">
            <div class="clock">
                <div class="hand hour" data-hour-hand></div>
                <div class="hand minute" data-minute-hand></div>
                <div class="hand second" data-second-hand></div>
            </div>
            <h2 id="time">00:00:00</h2>
            <h2 id="date">Mon Jan 1 1970</h2>
        </div>
    </body>
</html>